@use '../abstracts/variables' as *;

.contenedor-carousel {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 0;
  aspect-ratio: 3/5;

  @media ($md < width) {
    aspect-ratio: 4/3;
  }

  @media ($lg < width) {
    aspect-ratio: 16/9;
  }

  .carousel {
    width: 100%;
    height: auto;
    aspect-ratio: 3/5;
    position: absolute;
    top: 0;
    z-index: 0;

    @media ($md < width) {
      aspect-ratio: 4/3;
    }

    @media ($lg < width) {
      aspect-ratio: 16/9;
    }

    .texto-bienvenida {
      position: absolute;
      left: 24px;
      bottom: 38px;
      z-index: 100;

      @media ($md < width) {
        width: 80%;
        bottom: 12px;
      }

      @media ($lg < width) {
        width: 60%;
        left: 52px;
        bottom: 38px;
      }
    }

    .control-carousel {
      position: absolute;
      z-index: 2000;
      width: 40px;
      max-width: 40px;
      height: 40px;
      background-color: rgb(0, 0, 0, .3);
      backdrop-filter: blur(5px);
      border-radius: 50%;

      &:hover {
        background-color: transparent;
        border-color: $verde;
        box-shadow: 0 0 10px $verde;
        color: $verde;
      }
    }
  }
}

