@use '../abstracts/variables' as *;

footer {
  height: fit-content;
  text-align: center;
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  margin-top: 65px;
  background-color: hsl(0, 0%, 0%);
  background-image: radial-gradient(ellipse farthest-side at center bottom, rgb(62, 69, 18, 0.5) 0%, rgb(0, 0, 0) 100%);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: $gris-parrafo;
  padding-left: 36px;
  padding-right: 36px;
  @media (min-width: $md) {
    height: 137px;
    margin-top: 0;
  }

  small {
    display: block;
    margin-top: 24px;
    @media (min-width: $md) {
      margin-top: 34px;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    @media (min-width: 768px) {
      padding-bottom: 0;
    }

    li {
      margin-left: 8px;
      margin-right: 8px;
      a {
        display: block;
        width: 20px;
        height: 20px;
        opacity: 0.4;
        // transition: opacity 0.3s;
        color: $verde;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
