@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

a {
  transition: all .18s cubic-bezier(0, 0.55, 0.45, 1);

  &.link-footer {
    color: $link;
    text-decoration: none;

    &:hover, &:active {
      color: $verde;
    }
  }
}

.btn {
  border-radius: 4px !important;
  text-transform: uppercase;
  font-size: 0.875rem !important;

  @media ($md > width) {
    width: 100% !important;
  }

  &.btn-large {
    padding: 10px 18px;
    font-weight: 600;
  }

  &.btn-primary {
    background-color: $link;
    color: $blanco-90;
    border: 1px solid $link;

    &:hover, &:active {
      background-color: $verde !important;
      border: 1px solid $verde !important;
      color: black !important;
      box-shadow: 0 0 20px $verde;
    }
  }

  &.btn-secondary {
    @include animacionBoton;
    transform: translateZ(0);
    transition: transform .18s cubic-bezier(0, 0.55, 0.45, 1);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $link;
    border-radius: 4px !important;
    text-transform: uppercase;
    font-size: 0.875rem !important;
    background-color: transparent;
    color: $verde;
    display: inline-flex;
    padding-left: 16px;

    &::after {
      content: '+';
      font-size: 1.8rem;
      line-height: 1.2rem;
      margin-left: 0.5rem;
    }

    &:hover, &:active {
      border: 1px solid $verde;
      background-color: transparent;
      box-shadow: 0 0 20px $verde;

      span {
        @include animacionBotonHover;
      }
    }
  }
}