@use '../abstracts/variables' as *;

h1 {
  color: $verde !important;
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 3rem !important;
  line-height: 2.5rem !important;

  @media ($lg < width) {
    font-size: 4rem !important;
    line-height: 3.5rem !important;
  }
}

h2 {
  color: $verde !important;
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 2rem !important;
}

p {
  &.lead {
    font-weight: 400;
    line-height: 1.3rem;
  }
}