@use './variables' as *;

@mixin animacionBoton {
  div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 1.2rem 0 $verde;

    span {
      display: block;
      backface-visibility: hidden;
      transition: transform 0.18s ease;
      transform: translateY(0.09rem) translateZ(0);
    }
  }
}

@mixin animacionBotonHover {
  transform: translateY(-1.2rem) translateZ(0);
}