// Colores
$blanco-50: rgb(255, 255, 255, .5);
$blanco-90: rgb(255, 255, 255, .9);
$placeholder: #cbcbcb;
$rojo: #C5242D;
$verde: #DDFF00;
$gris-parrafo: #97998B;
$verde-sombra: rgb(221, 255, 0, .7);
$link-menu: #ffffff;
$link: #7E8F14;

// Media breakpoints
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Fonts
$font-base: var(--PromptFont), "Helvetica Neue", system-ui, Helvetica, Arial, sans-serif;
