/* 
  Autor: Claudio Salazar
  Email: contacto@claudiosalazar.cl
  Fecha de creación: 26-05-2025
  Última actualización: 27-05-2025
  Descripción: Template Next.js with Bootstrap
  Repositorio: https://github.com/claudiosalazar/template-next-bootstrap
*/

// Index de todos los archivos SCSS - DEBE IR ANTES que bootstrap
@use './abstracts/index' as *;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: black;
  background-image: linear-gradient(159.056deg, #535833 0%, #000000 60%);
  background-size: auto 800px;
  background-repeat: no-repeat;
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  font-weight: 400;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  grid-area: main;
}

hr.logo {
  width: 278px;
  height: 24px;
  margin: 52px auto;
  border: 0;
  opacity: .5;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='386' height='21' fill='none'%3E%3Cpath fill='%234E4F47' fill-rule='evenodd' d='M181.238 21h-6.97V0h6.58l7.481 9.27V0H196.385v7.86l6.14-7.86h8.393l-7.529 9.12L211.072 21h-8.608l-4.228-6.66-1.85 2.19V21h-7.336l-7.812-9.69V21Z' clip-rule='evenodd'/%3E%3Cpath stroke='%234E4F47' d='M151 10.5H0M386 10.5H235'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}